<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Hotel')" id="defaultOpen">Hotels</button>
  <button class="tablinks" onclick="openCity(event, 'Category')">Category</button>
  <button class="tablinks" onclick="openCity(event, 'Room')">Room</button>
  <button class="tablinks" onclick="openCity(event, 'Menu')">Menu</button>
  <button class="tablinks" onclick="openCity(event, 'Amenity')">Amenity</button>
</div>
<div id="Hotel" class="tabcontent">
  <!-- <h3>Hotels</h3> -->
  <div class="cards-dashboard">
    <% @hotels.each do |hotel| %>
      <div class="card-dashboard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486591038957-19e7c73bdc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p><%= hotel.name %> </p>
        </div>
        <%= link_to "", hotel_path(hotel), class: "card-link"%>
      </div>
    <% end %>
  </div>
</div>
<div id="Category" class="tabcontent">
  <div class="cards-dashboard">
    <% @room_categories.each do |room_category| %>
      <div class="card-dashboard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1524397057410-1e775ed476f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p> <%= room_category.category %> </p>
        </div>
        <%= link_to "", root_path, class: "card-link"%>
      </div>
    <% end %>
  </div>
</div>
<div id="Room" class="tabcontent">
  <div class="cards-dashboard">
    <% @hotels.each do |hotel| %>
      <div class="card-dashboard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486591038957-19e7c73bdc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p><%= hotel.name %> </p>
        </div>
        <%= link_to "", hotel_index_edit_path(hotel), class: "card-link"%>
      </div>
    <% end %>
  </div>
</div>
<div id="Menu" class="tabcontent">
  <h3>menu</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
<div id="Amenity" class="tabcontent">
  <h3>amenity</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>