<% if current_user.supervisor_role || current_user.superadmin_role  %>
  <div class="cards-dashboard">
    <% @hotels.each do |hotel| %>
      <div class="card-dashboard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486591038957-19e7c73bdc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p><%= hotel.name %> </p>
        </div>
        <%= link_to "", hotel_tabs_path(hotel), class: "card-link"%>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="title">
    <h2>Welcome <%= current_user.first_name.capitalize %></h2>
  </div>
  <div class="dashboard-user">
    <div class="dashboard-user-links">
      <div class="dashboard-user-buttons">
        <%= link_to favorites_path, class: "dashboard-button" do  %>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
      <div class="dashboard-user-buttons">
        <%= link_to booking_history_path, class: "dashboard-button" do %>
          <i class="fas fa-hourglass-end"></i>
        <% end %>
      </div>
      <div class="dashboard-user-buttons">
        <%= link_to current_booking_path, class: "dashboard-button" do %>
          <i class="fas fa-hourglass-half"></i>
        <% end %>
      </div>
      <div class="dashboard-user-buttons">
        <%= link_to root_path, class: "dashboard-button" do %>
          <i class="fas fa-hourglass-start"></i>
        <% end %>
      </div>
      <div class="dashboard-user-buttons">
        <%= link_to edit_user_registration_path, class: "dashboard-button" do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      </div>
    </div>
    <div class="dashboard-user-links-names">
      <span>Favorites</span>
      <span>Booking History</span>
      <span>Current Booking</span>
      <span>Future bookings</span>
      <span>Edit your profile</span>
    </div>
  </div>
<% end %>