<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Hotel')" id="defaultOpen">Reports</button>
  <button class="tablinks" onclick="openCity(event, 'Category')">Category</button>
  <button class="tablinks" onclick="openCity(event, 'Room')">Room</button>
  <button class="tablinks" onclick="openCity(event, 'Menu')">Menu</button>
  <button class="tablinks" onclick="openCity(event, 'Amenity')">Amenity</button>
  <button class="tablinks" onclick="openCity(event, 'User')">User</button>
  <button class="tablinks" onclick="openCity(event, 'Worker')">Worker</button>
</div>
<div id="Hotel" class="tabcontent">
  <p>Next summer</p>
  <%= render 'shared/excel' %>
</div>
<div id="Category" class="tabcontent">
  <div class="tab-card-button">
    <div class="category-button-tab">
      <%= link_to new_room_category_path, class: "button-tab" do %>
        <span>Add a Category</span>
      <% end %>
    </div>
  </div>
  <div class="cards-room-number">
    <% @room_categories.each do |room_category| %>
      <div class="card-category-room-number-tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1524397057410-1e775ed476f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p> <%= room_category.category.capitalize %> </p>
        </div>
        <div class="hover">
          <span>More!</span>
          <%= link_to edit_room_category_path(room_category), class: "social-link" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to room_category_path(room_category), method: :delete, data: { confirm: "Sure you want to delete #{room_category.category}?"}, class: "social-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="Room" class="tabcontent">
  <div class="tab-card-button">
    <div class="category-button-tab">
      <%= link_to new_hotel_room_url(@hotel), class: "button-tab" do %>
        <span>Add a Room</span>
      <% end %>
    </div>
  </div>
  <div class="cards-room-number">
    <% @rooms.each do |room| %>
      <div class="card-category-room-number-tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2014/10/16/08/39/bedroom-490779_1280.jpg)">
        <div class="card-hotel-name">
          <p><%=room.number %></p>
        </div>
        <div class="hover">
          <span>More!</span>
          <%= link_to edit_room_path(room), class: "social-link" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to room_path(room), method: :delete, data: { confirm: "Sure you want to delete #{room.number}?"}, class: "social-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="Menu" class="tabcontent">
  <div class="tab-card-button">
    <div class="category-button-tab">
      <%= link_to new_menu_item_path, class: "button-tab" do %>
        <span>Add an Item</span>
      <% end %>
    </div>
  </div>
  <div class="cards-room-number">
    <% @menu_items.each do |menu| %>
      <div class="card-category-room-number-tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2014/10/16/08/39/bedroom-490779_1280.jpg)">
        <div class="card-hotel-name">
          <p><%=menu.name.capitalize %></p>
        </div>
        <div class="hover">
          <span>More!</span>
          <%= link_to edit_menu_item_path(menu), class: "social-link" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to menu_item_path(menu), method: :delete, data: { confirm: "Sure you want to delete #{menu.name}?"}, class: "social-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="Amenity" class="tabcontent">
  <div class="tab-card-button">
    <div class="category-button-tab">
      <%= link_to new_amenity_path, class: "button-tab" do %>
        <span>Add an Amenity</span>
      <% end %>
    </div>
  </div>
  <div class="cards-room-number">
    <% @amenities.each do |amenity| %>
      <div class="card-category-room-number-tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2549&q=80)">
        <div class="card-hotel-name">
          <p><%=amenity.drink.capitalize %></p>
        </div>
        <div class="hover">
          <span>More!</span>
          <%= link_to edit_amenity_path(amenity), class: "social-link" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to amenity_path(amenity), method: :delete, data: { confirm: "Sure you want to delete #{amenity.drink}?"}, class: "social-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="User" class="tabcontent">
  <div class="tab-card-button">
    <div class="category-button-tab">
      <%= link_to new_room_category_path, class: "button-tab" do %>
        <span>Add a User</span>
      <% end %>
    </div>
  </div>
  <div class="cards-room-number">
    <% @users.each do |user| %>
      <div class="card-category-room-number-tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514575110897-1253ff7b2ccb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name-users">
          <p><%=user.first_name.capitalize %></p>
          <p><%=user.last_name.capitalize %></p>
        </div>
        <div class="hover">
          <span>More!</span>
          <a href="" class="social-link">
            <i class="fas fa-edit"></i>
          </a>
          <a href="" class="social-link">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="Worker" class="tabcontent">
  <div class="tab-card-button">
    <div class="category-button-tab">
      <%= link_to new_hotel_worker_url(@hotel), class: "button-tab" do %>
        <span>Add a Worker</span>
      <% end %>
    </div>
  </div>
  <div class="cards-room-number">
    <% @workers.each do |worker| %>
      <div class="card-category-room-number-tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2014/10/16/08/39/bedroom-490779_1280.jpg)">
        <div class="card-hotel-name-users">
          <p><%=worker.first_name.capitalize %></p>
          <p><%=worker.last_name.capitalize %></p>
        </div>
        <div class="hover">
          <span>More!</span>
          <%= link_to edit_worker_path(worker), class: "social-link" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to worker_path(worker), method: :delete, data: { confirm: "Sure you want to delete #{worker.first_name}?"}, class: "social-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>