<h2>Registration</h2>
    <%= simple_form_for @client do |c| %>
      <%= c.simple_fields_for :bookings do |b| %>
        <%= b.input :category, collection: Booking::CATEGORIES %>
        <%= b.collection_check_boxes :worker_id, Worker.where(hotel_id: params[:hotel_id]), :id, :first_name, :include_blank => false %>
        <%= c.input :first_name %>
        <%= c.input :last_name %>
        <%= c.input :email %>
        <%= c.input :social_number %>
        <%= c.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
    <% end %>

