<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
    <h2>Room.number</h2>
    </div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6">
   <h2>booking page</h2>
  <%= simple_form_for [@client, @booking] do |f| %>
  <%= f.input :category, collection: Booking::CATEGORIES %>
  <%= f.collection_check_boxes :worker_id, Worker.all, :id, :first_name %>
  <%= @client.first_name %>
  <%= @client.last_name %>
  <%= @client.email %>
  <%= @client.social_number %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
    </div>
<<<<<<< HEAD
  </div>
</div>

    <%= render "clients/client_registration" %>

    <div class="col-xs-12 col-sm-6">
      <h1>Amenity list</h1>
      <% @amenities.each do |amenity| %>
        <li><%= amenity.drink %></li>
      <% end %>
    </div>
  </div>
    <%= render "menu_items/menu_item" %>

</div>
