<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1><%= @room.room_category.category %></h1>
      <p>Room number: <%= @room.number %></p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>booking page</h2>
      <%= simple_form_for @booking, url: hotel_bookings_path(@room, :room_id) do |f| %>
      <%= f.input :category, collection: Booking::CATEGORIES %>
      <%= f.collection_check_boxes :worker_id, Worker.all, :id, :first_name %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <%= render "clients/client_registration" %>
    <div class="col-xs-12 col-sm-6">
      <h1>Amenity list</h1>
      <% @amenities.each do |amenity| %>
        <li><%= amenity.drink %></li>
      <% end %>
    </div>
  </div>
    <%= render "menu_items/menu_item" %>
</div>
