<div class="title">
  <h1>Hotels</h1>
</div>
<% if current_user.supervisor_role || current_user.superadmin_role %>
  <div class="cards">
    <% @hotels.each do |hotel| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486591038957-19e7c73bdc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p><%= hotel.name %> </p>
          <div class="card-hotel-room-count">
            <p><%= hotel.rooms.count %></p>
          </div>
        </div>
        <%= link_to "", hotel_path(hotel), class: "card-link"%>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="cards">
    <% @hotels.each do |hotel| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486591038957-19e7c73bdc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
        <div class="card-hotel-name">
          <p><%= hotel.name %> </p>
          <div class="card-hotel-room-count">
            <p><%= hotel.rooms.count %></p>
          </div>
        </div>
        <div class="card-hotel-room-map">
          <%= link_to "Map", show_map_path(hotel), class: "button-hotel-card-user" %>
        </div>
        <%= link_to "", hotel_path(hotel), class: "card-link"%>
      </div>
    <% end %>
  </div>
<% end %>